@model Question

<form method="post" asp-action="DeletePOST">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Question</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Problem"></label>
            <input asp-for="Problem" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Answer"></label>
            <input asp-for="Answer" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Question" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to list
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}